body {
    background: url('rbg.jpg') #f0f0f0; 
    background-repeat: repeat;
}

main {
    background-image: url(nonrepeatingbg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 1; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255 0.7);
    z-index: 0;
}

main h2, p, ul {
    color: #333;
}

header h1 {
    color:#ffffff;
}

ul.list {
    list-style-image: url('bulletpoint.png');
}

nav a.current{
    color: #e82300;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #a42d2d;
    margin: 0 15px;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 14px;
}

